<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>
            MI TITULO
        </title>
    </head>
    <body>
        <%- include ("partials/navigation.ejs") %>
        <H1>Hola con express y ejs.</H1>
    </body>
</html>